.nav-link:hover{
    text-decoration:underline;
}
.navbar{
    background-color: #FFE9C1;
}
.carousel-item.active{
    border: 4px #E3CFAD solid;
}

main,.navbar{
    font-family: Calibri, Arial;
}

.bg-custom{
    background-color: #FFE9C1;
    border: 4px #E3CFAD solid;
}

main{
    text-align: justify;
    font-size: 20px;
}
.card-body{
    background-color: #FFE9C1;
    border: 4px #E3CFAD solid;
}

a:hover{
    color: rgb(80, 80, 104);
}
